.features {
  margin-bottom: 186px;

  &__container {
    margin-bottom: 65px;
    padding: 0 32px;
  }

  &__lead {
    margin: 0;
  }

  &__list {
    margin: 0;
    padding: 294px 32px 0;
    list-style: none;
    background-image: url('../images/image-computer.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 312px auto;
  }

  &__item {
    margin-bottom: 48px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__text {
    margin: 0;
  }
}

@media (min-width: 1200px) {

  .features {
    margin-bottom: 150px;

    &__container {
      margin-bottom: 80px;
      padding: 0;
    }

    &__list {
      padding: 68px 32px 98px;
      background-image: url('../images/image-computer.png');
      background-repeat: no-repeat;
      background-position: calc(50% - 752px / 2) top;
      background-size: 752px auto;
    }

    &__item {
      width: 350px;
      margin-left: calc(50% + 110px);
      margin-bottom: 56px;
      text-align: left;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    &__subtitle {
      text-align: left;
    }

    &__text {
      line-height: 1.88;
    }
  }
}
